@import '@fontsource-variable/inconsolata';
@import '@fontsource/inconsolata';

:root {
	--font-body: 'Inconsolata Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Inconsolata', ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	font-family: var(--font-body);
	color: var(--color-text);

	--column-width: 42rem;
	--column-margin-top: 4rem;

	--sidebar-width: max(10rem, 20vw);
	--sidebar-height: 6rem;
	--sk-text-xxl: 5.4rem;
	--sk-text-xl: 3.6rem;
	--sk-page-padding-top: 1rem;
	--sk-page-padding-side: 1rem;
}

html[color-scheme='light'] {
	--color-bg-0: #D1D1D1;
	--color-bg-1: #F9F9F9;
	--color-bg-2: #EEEEEE;

	--color-theme-1: #f94c10;
	--color-theme-2: #84A07C;
	/*
	--tangelo: #f94c10;
	--cerulean: #247e9c;
	--cambridge-blue: #87b38d;
	--claret: #89043d;
	--thulian-pink: #cc76a1;

	* #84A07C
	*/

	--color-hover: rgba(249, 76, 16, 0.1);

	--color-text: rgba(0, 0, 0, 0.7);
	--color-text-light: #aaaaaa;
	--color-text-dark: #22222a;

	--nav-background: rgba(240, 240, 240, 0.9);
	--nav-border: #dddddd;
	--border-color: #e8e8e8;

	--muted: 240 5% 96%;
	--muted-foreground: 0 0% 9% / .4;

	--code-background: #dddddd;
}

html[color-scheme='dark'] {
	--color-bg-0: #444444;
	--color-bg-1: #1D1F21;
	--color-bg-2: #333333;

	--color-theme-1: #76ABAE;
	--color-theme-2: #EABE6C;

	--color-hover: rgba(118, 171, 174, 0.1);
	/* --color-hover: hsla(15, 95%, 52%, 0.1); */

	--color-text: rgba(250, 250, 250, 0.7);
	--color-text-light: #99999a;
	--color-text-dark: #aaaaaa;

	--nav-background: #25272a;
	--nav-border: #1a1b1e;
	--border-color: #434343;

	--muted: 10 5% 96%;
	--muted-foreground: 255 0% 79% / .4;

	--code-background: #2e3440;
}

html[color-scheme='dark'] .shiki span {
	color: var(--shiki-dark);
}

html[color-scheme='dark'] .shiki {
	background-color: var(--shiki-dark-bg);
}

html[color-scheme='light'] .shiki {
	background-color: var(--shiki-light-bg);
}

html[color-scheme='light'] .shiki span {
	color: var(--shiki-light);
}

.shiki span.highlighted {
	margin: 0 -1rem;
	padding: 0 1rem;
	width: calc(100%);
	display: inline-block;
	background-color: var(--color-bg-2);
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-text-light);
	border-radius: 2.4rem;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--color-bg-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

h2 {
	font-size: 1.3rem;
	color: var(--color-text-dark);
}

p,
ul li,
ol li {
	line-height: 1.5;
}

ul {
	padding-inline-start: 2.5rem;
	list-style-type: square;
}

ul ul {
	padding-inline-start: 1.6rem;
}

kbd {
	padding: 0.2em 0.3em;
	border: 1px outset var(--color-bg-0);
	border-radius: 3px;
	background-color: var(--color-bg-2);
	font-family: var(--font-mono);
	font-size: 0.875rem;
}

details {
	margin: 1rem 0 0;
}

main a {
	color: var(--color-theme-1);
	font-weight: 500;
	text-underline-offset: 0.25em;
	text-decoration-thickness: 0.01em;

	transition: background-color 0.3s cubic-bezier(.23, 1, .32, 1);
}

main a:hover {
	background-color: var(--color-hover);
	/* text-decoration: none; */
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

time {
	font-size: smaller;
	color: var(--color-text-light);
}

a.hash-link {
	opacity: 0;
	transition: opacity 3ms;
	-webkit-user-select: none;
	user-select: none;
	text-decoration: none;
	margin-left: 0.3rem;
	padding: 0 0.2em 0 !important;
}

h1:hover a.hash-link,
h2:hover a.hash-link,
h3:hover a.hash-link,
h4:hover a.hash-link,
h5:hover a.hash-link,
h6:hover a.hash-link {
	opacity: 1;
}
a.hash-link:before {
	content: "#";
}
